<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- 今回のサンプルで使用しているCSS（bootstrap）の読み込み -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
	integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
	crossorigin="anonymous">
<title>output</title>
</head>
<body>
	<div class="login align-items-center py-5">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-lg-8 mx-auto">
					<h3 class="login-heading my-4">新規タスク登録</h3>
					<form action="eventregist" method="post" enctype="multipart/form-data">
						<div class="form-label-group">
							<label for="eventName">タスク名</label> <input type="text"
								id="eventName" name="eventName" class="form-control"
								required="required">
						</div>
						<div class="form-label-group">
							<label for="eventStartDate">開始予定日</label> <input type="date"
								id="eventStartDate" name="eventStartDate" class="form-control"
								required="required">
						</div>
						<div class="form-label-group">
							<label for="eventEndDate">終了予定日</label> <input type="date"
								id="eventEndDate" name="eventEndDate" class="form-control"
								required="required">
						</div>
						<br>
						<div class="form-label-group">
							<input type="file" id="file" name="file" class="form-control">
						</div>
						<br>
						<div th:if="${message}" class="success">
							<p th:text="${message}"></p>
						</div>

						<div th:if="${uperror}" class="error">
							<p th:text="${uperror}"></p>
						</div>
						<button
							class="btn btn-lg btn-primary btn-block btn-login font-weight-bold mb-2"
							type="submit">登録</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>